body{
  display: block;
  margin: 0;
  padding: 0;
  background-image: url(./images/wrapper/sky.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
  
  
} 
